<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <meta charset="UTF-8">
    <title>My Schedule</title>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>My Schedule</h1>
      <!-- Add a calendar component -->
      <div class="calendar"></div>
      <!-- Add a form for creating appointments -->
      <div>
        <button id="next"> =&gt; </button>
        <table id="schedule">

          <tr id="schedule-header">
            {% for i in range(7) %}
                <th></th>
            {% endfor %}

          </tr>
          <tr>
            {% for i in range(7) %}
                <td></td>
            {% endfor %}
          </tr>

        </table>
        <button id="previous"> &lt;= </button>

      </div>
      <label for="event-name">Event Name:</label>
      <input type="text" id="event-name" name="event-name">
      <br><br>
      <label for="event-date">Event Date:</label>
      <input type="date" id="event-date" name="event-date">
      <br><br>
      <label for="event-duration">Event duration:</label>
      <input type="time" id="event-duration" name="event-duration">
      <br><br>
      <button type="submit">Add Event</button>

    </div>
  </body>
</html>