<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>welcome To SOAB</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>

    <body>
        <h1>Welcome to the SOAB!</h1>
        <p>SOAB is a schedule organizer and appointment booker<br>
        we want to make your life better organized and make appointment easier
            to book and schedule them in your daily basis</p>

        <button onclick="loginPageRedirect();">login</button>
        <button onclick="signInPageRedirect();">sign-in</button>

    </body>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</html>