<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SOAB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>

<body>
<script src="{{url_for('static', filename='script.js')}}"></script>
<img src="{{url_for('static', filename='logo.png')}}" />

<h1>Welcome to the SOAB!</h1>
<p>SOAB is a schedule organizer and appointment booker<br>
    we want to make your life better
</p>
<button onclick="loginPageRedirect()">login</button>
<button onclick="signInPageRedirect()">sign-in</button>
</body>
</html>