<html>
<body>
	<link rel="stylesheet" href="jquery-ui.min.css">
	<script src="C:/Users/dekel/Documents/PycharmProjects/Siber5PointsProjectDekelMadmon/venv/jquery-ui-1.13.2/external/jquery/jquery.js"></script>
	<script src="jquery-ui.min.js"></script>

	<button allClick="add_column()">
	</button>
	<table id="inputSystem">
	</table>
	<script>
		function add_column() {

			let column = document.createElement("th")
			document.getElementById('inputSystem').appendChild(column)
		}

	</script>
	<button allClick="open_data_input_screen()">
	</button>
	<script>
		function open_data_input_screen() {
			<div id="dialog">
				<input type="text" id="input1" />
				<input type="text" id="input2" />
			</div>
			if ("input1" != null && "input2" != null) {
				alert("please fill the text boxes")

				let column = document.createElement("th")
				document.getElementById('inputSystem').appendChild(column)
			}

	</script>
</body>
</html>