<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>

<body>
<script src="{{url_for('static', filename='script.js')}}"></script>
  <div class="main">
    <p class="login" align="center">login</p>

      <input id="email-login" type="text" align="center" placeholder="email" required>
      <input id="password-login" type="password" align="center" placeholder="Password" required>
      <button id="submit-login" align="center">login</button>
      <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
  </div>

</body>

</html>