<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='main_page_style.css')}}" />
		<meta charset="UTF-8" />
		<title>My Schedule</title>
		<script src="{{url_for('static', filename='script.js')}}"></script>
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
	</head>
<html>
  <body>
    <div class="container">
      <div class="left-container">
        <h1 id="welcome-heading">WELCOME</h1>
        <div class="form-group">
          <label for="attendee">Meeting Attendee:</label>
          <input type="email" id="attendee" name="attendee" />
        </div>
        <div class="form-group">
          <label for="date">Meeting date:</label>
          <input type="date" id="date" name="attendee" />
        </div>
        <button class="button-secondary" type="submit">Request Meeting</button>
      </div>
      <div id="table-container"></div>
    </div>
  </body>
</html>
