<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> sign_in Page </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>

<body>
 <script src="{{url_for('static', filename='script.js')}}"></script>
    <div class="container">
        <p class="sign_in" align="center">sign_in</p>

        <p><label>Username : </label>
        <input id="username-sign-in" type="text" placeholder="Enter Username" align="center" required></p>

        <p><label>Password : </label>
        <input id="password-sign-in" type="password" placeholder="Enter Password" align="center" required></p>

        <p><label>email : </label>
        <input id="email-sign-in" type="email" placeholder="Enter email" align ="center" required></p>

        <p><button id="submit-sign-in" >sign in</button></p>

    </div>

</body>
</html>