<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sign in</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
<script src="{{url_for('static', filename='script.js')}}"></script>
  <div class="main">
    <p class="sign" align="center">Sign in</p>

      <input id="user-name-sign-in" type="text" align="center" placeholder="Username">
      <input id="password-sign-in" type="password" align="center" placeholder="Password">
      <button id="submit-sign-in" align="center">Sign in</button>
      <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
  </div>

</body>

</html>