<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scheduleMaker</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<table style="weight:98%">
    <tbody>
    <tr>
        <td></td>
        <td style="width:18">Sunday   </td>
        <td style="width:18">Monday   </td>
        <td style="width:18">Tuesday  </td>
        <td style="width:18">Wednesday</td>
        <td style="width:18">Thursday </td>
        <td style="width:18">Friday   </td>
        <td style="width:18">Saturday </td>

	</tr>
		{% for hour in range(5, 24) %}
			{% for half in range(2) %}
			<tr><th>{% if hour < 10 %}0{% endif %}{{ hour }}:{{ half * 3 }}0</th>
				{% for i in range(7) %}
					<td  rowspan="1">
						  <input class="text-box" type="text" size= "10" height= "10" >
					</td>
				{% endfor %}
			{% endfor %}
			</tr>
		{% endfor %}
	</tr>

    </tbody>


</table>
<script src="scripts.js"></script>

</body>
</html>
