body {
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
    text-align: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

img {
    width: 150px;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 50px;
}

button {
    border: none;
    border-radius: 4px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background-color: #1E90FF;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form > * {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 20px;
}

input[type="text"], input[type="date"], input[type="time"] {
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 18px;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#schedule-container {
    width: 50%;
    margin-left: 5%;
    margin-top: 20px;
}

#schedule {
    width: 140%;
    border-collapse: collapse;
    text-align: center;
}

#schedule th, #schedule td {
    width: calc(100% / 7);
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    font-size: 20px; /* increase font size */
}


form {
    width: 50%;
    margin-right: auto;
}
