body {
            font-family: Arial, sans-serif;
            background-color: #F8F8F8;
            text-align: center;
            margin-top: 100px;
        }

        img {
            width: 150px;
            margin-bottom: 30px;
        }

        h1 {
            font-size: 36px;
            font-weight: bold;
            color: #333;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            color: #666;
            margin-bottom: 30px;
        }

        button {
            border: none;
            border-radius: 4px;
            padding: 12px 30px;
            font-size: 18px;
            font-weight: bold;
            color: #FFF;
            background-color: #1E90FF;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            margin-right: 10px;
        }

        button:hover {
            background-color: #333;
        }