<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scheduleMaker</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<table style="weight:98%">
    <tbody>
    <tr>
        <td></td>
        <td>sunday</td>
        <td style="width:18">monday   </td>
        <td style="width:18">Tuesday  </td>
        <td style="width:18">Wednesday</td>
        <td style="width:18">Thursday </td>
        <td style="width:18">friday   </td>
        <td style="width:18">saturday </td>
    </tr>
    <tr><th>5:00</th>

		{% for i in range(7) %}
			<td  rowspan="1">
				  <input class="text-box" type="text" size= "10" height= "10" >
			</td>
		{% endfor %}
</tr>
    <tr><th>5:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>6:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>6:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>7:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>7:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>8:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>8:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>9:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>9:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>10:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>10:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>11:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>11:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>12:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>12:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>13:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>13:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>14:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>14:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>15:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
</td></tr>
    <tr><th>15:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>16:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>16:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>17:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>17:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>18:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>18:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>19:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>19:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>20:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>20:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>21:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>21:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>22:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>22:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>23:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>23:30</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>
    <tr><th>00:00</th><td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td>
<td  rowspan="1">
	  <input type="text" size= "10" height= "10" >

</td></tr>

    </tbody>





</table>
<script>

	$(".text-box")

		.keyup(() => {
			$.ajax("https://localhost:8080")
		})
</script>

</body>
</html>